@import 'colors';

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Tahoma, 'Dejavu Sans', sans;
  font-size: 12px;
  margin: 13px 20px;
  overflow-y: scroll;
}

pre, code, .code {
  font-family: "Menlo", "Consolas", "Monaco", monospace;
  font-size: inherit;
}

a {
  color: $select-color;
}
