@import 'colors';

.revisionSelector {
  background-color: white;
  border: 10px solid white;
  cursor: default;
  opacity: 0.3;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .3s;

  .revisionTag {
    height: 20px;
    text-align: center;
    width: 30px;
    &.sideA {
      border-left: 1px solid #ddd;
    }
    &.sideB {
      border-right: 1px solid #ddd;
    }
  }

  .revisionLabel {
    width: 25px;
    font-weight: bold;
  }

  .selected {
    background-color: $select-color;
    color: white;
  }

  .revisionTag:not(.selected) {
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
  }

  &:hover {
    opacity: 1;
  }
}

.commentList {
  clear: both;
  width: 100%;

  .comment {
    border: 1px solid #ddd;
    clear: both;
    margin-top: -1px;
    padding: 10px;
    font-size: 12px;
    width: 100%;

    &:hover {
      background-color: #eee;
    }

    .meta {
      width: 100px;
      float: left;

      .author, .date {
        display: block;
      }

      .author {
        font-weight: bold;
      }
      .date {
        font-size: 10px;
        color: #777;
      }
    }

    .message {
      float: left;
      display: block;
    }

    .commentEnd {
      clear: both;
    }

    &.bot {
      color: #aaa;
      .date {
        color: #bbb;
      }
    }

    &.collapsed {
      padding: 1px 10px;
      max-height: 19px;
      overflow-y: hidden;
    }
  }
}
