@import 'colors';

.revisionSelector {
  background-color: white;
  padding: 10px;
  cursor: default;
  position: fixed;
  right: 0;
  top: 0;

  .revisionTag {
    height: 20px;
    text-align: center;
    width: 30px;
    &.sideA {
      border-left: 1px solid #ddd;
    }
    &.sideB {
      border-right: 1px solid #ddd;
    }
  }

  .revisionLabel {
    width: 25px;
    font-weight: bold;
  }

  .selected {
    background-color: $select-color;
    color: white;
  }

  .revisionTag:not(.selected) {
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
  }

  .summaryTable {
    display: table;
    .revisionTag:nth-child(1) {
      border-right: 10px solid white;
    }
  }
  .selectorTable {
    display: none;
  }

  &:hover {
    .summaryTable {
      display: none;
    }
    .selectorTable {
      display: table;
    }
  }
}

.commentList {
  clear: both;
  width: 100%;

  .comment {
    border: 1px solid #ddd;
    clear: both;
    margin-top: -1px;
    padding: 10px;
    font-size: 12px;
    width: 100%;

    &:hover {
      background-color: #eee;
    }

    .meta {
      max-width: 120px;
      min-width: 120px;
      vertical-align: top;
      width: 120px;

      .author, .date {
        display: block;
      }

      .author {
        font-weight: bold;
      }
      .owner {
        color: $tango-sky-blue;
      }
      .date {
        font-size: 10px;
        color: #777;
      }
    }

    .message {
      vertical-align: top;
    }

    .commentEnd {
      clear: both;
    }

    &.bot {
      color: #aaa;
      .date {
        color: #bbb;
      }
    }

    &.collapsed {
      cursor: pointer;
      max-height: 19px;
      overflow-y: hidden;
      padding: 1px 10px;
    }
  }
}

.inlineCommentList {
  .inlineCommentFileName {
    display: block;
    font-weight: bold;
    padding-top: 10px;
  }

  .inlineComment {
    display: block;
  }

  .lineNo {
    padding-left: 20px;
    width: 50px;
    display: inline-block;
    color: grey;
  }
}

.metaDataTable {
  width: 100%;
  .fieldRow {
    border: 1px solid #ddd;
    &:hover {
    }
  }

  .fieldName, .fieldValue {
    padding: 10px;
  }

  .fieldName {
    width: 100px;
    background-color: #eee;
  }

  .fieldValue {
    width: 50%;
  }
}

.changeNotice, .metaDataTable, .commentList {
  margin-bottom: 20px;
}
