@import 'colors';

.diffView {
  border: 1px solid #ddd;
  width: 100%;

  .moreButton {
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 24px;
    text-align: center;
    user-select: none;
    width: 100%;
    padding: 5px 0;
    background-color: #EEE;
    color: grey;

    &:hover {
      color: $select-color;
    }
  }
}

.diffSegment {
  .a, .b {
    vertical-align: top;
    width: 50%;
  }

  .lineWrapper {
    display: block;
    font-size: 0; /* get rid of mysterious whitespace caused by inline-block */
    overflow: hidden;
    &.highlight {
      background-color: #ffd;
    }
  }

  .code, .lineNo {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    word-break: break-all;
    word-wrap: break-word;
  }

  .code {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  .inlineComment {
    background: white;
    border: 1px solid #ddd;
    font-size: 12px;
    margin: 2px 40px;
    padding: 4px;
    .username {
      font-weight: bold;
      padding-right: 10px;
    }
  }

  .lineNo {
    color: grey;
    font-size: 10px;
    max-width: 40px;
    padding-right: 10px;
    text-align: right;
    user-select: none;
    width: 40px;
  }

  &.insert .b, &.change .b {
    background-color: #DDFFDD;
  }

  &.delete .a, &.change .a {
    background-color: #FFEEEE;
  }
}
