@import 'colors';
@import 'mixins';

.diffView {
  border: 1px solid #ddd;
  width: 100%;

  .moreButton {
    display: block;
    font-size: 12px;
    height: 24px;
    text-align: center;
    user-select: none;
    width: 100%;
    padding: 5px 0;
    background-color: #F5F5F5;
    color: grey;

    @include linkable;
  }
}

.diffSegment {
  .a, .b {
    vertical-align: top;
    width: 50%;
  }

  .lineWrapper {
    display: block;
    font-size: 0; /* get rid of mysterious whitespace caused by inline-block */
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 14px;
    position: relative;
    &.highlight {
      background-color: #ffd;
    }
    &.moreButtonWrapper {
      max-height: 24px;
    }
  }

  .code, .lineNo {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    word-break: break-all;
    word-wrap: break-word;
  }

  .code {
    font-size: 12px;
    margin: 0;
    margin-left: 40px;
    min-height: 14px;
    padding: 0;
    white-space: pre-wrap;
  }

  .inlineComment {
    background: white;
    border: 1px solid #ddd;
    font-size: 12px;
    margin: 2px 40px;
    padding: 4px;
    white-space: pre-wrap;
    .username {
      font-weight: bold;
      margin-right: 10px;
      @include linkable;
    }
    .owner {
      color: $tango-sky-blue;
    }
  }

  .lineNo {
    color: grey;
    font-size: 10px;
    left: 0;
    margin-right: -40px;
    max-width: 40px;
    padding: 1px 10px 1px 0;
    position: absolute;
    text-align: right;
    top: 0px;
    user-select: none;
    width: 40px;
  }

  &.insert .b, &.change .b {
    background-color: #DDFFDD;
  }

  &.delete .a, &.change .a {
    background-color: #FFEEEE;
  }
}
