table {
  border-collapse: collapse;
  border-spacing: 0;
  td {
    padding: 0;
  }
}


button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}


*, *::before, *::after {
  box-sizing: border-box;
}


pre {
  margin: 0;
  padding: 0;
}
