@import 'colors';
@import 'mixins';

.passwordList {
  padding: 20px;

  .passwordTable {
  }

  .passwordItem {
    border-top: 1px solid #ddd;
  }

  .baseUrl, .username, .password, .actions {
    padding: 10px;

    &:hover {
      background-color: #f7f7f7;
    }
  }

  .actions {
    button {
      width: 30px;
      border: none;
      cursor: pointer;
      padding-top: 5px;
      padding-bottom: 5px;
      @include flat-button(white, $select-color);
    }
  }

  input {
    border: none;
    border-bottom: 1px solid transparent;
    min-width: 250px;
    -webkit-user-select: text;

    &:hover {
      border-bottom: 1px solid #ddd;
    }
    &:active, &:focus {
      border-bottom: 1px solid $select-color;
      outline: none;
    }
  }

  .illegal {
    color: red;
  }

}
