//             Highlight           Shadow
// Aluminium   #eeeeec   #d3d7cf   #babdb6
// Butter      #fce94f   #edd400   #c4a000
// Chameleon   #8ae234   #73d216   #4e9a06
// Orange      #fcaf3e   #f57900   #ce5c00
// Chocolate   #e9b96e   #c17d11   #8f5902
// Sky Blue    #729fcf   #3465a4   #204a87
// Plum        #ad7fa8   #75507b   #5c3566
// Slate       #888a85   #555753   #2e3436
// Scarlet Red #ef2929   #cc0000   #a40000

$tango-aluminium: #d3d7cf;
$tango-aluminium-highlight: #eeeeec;
$tango-aluminium-shadow: #babdb6;
$tango-butter: #edd400;
$tango-butter-highlight: #fce94f;
$tango-butter-shadow: #c4a000;
$tango-chameleon: #73d216;
$tango-chameleon-highlight: #8ae234;
$tango-chameleon-shadow: #4e9a06;
$tango-orange: #f57900;
$tango-orange-highlight: #fcaf3e;
$tango-orange-shadow: #ce5c00;
$tango-chocolate: #c17d11;
$tango-chocolate-highlight: #e9b96e;
$tango-chocolate-shadow: #8f5902;
$tango-sky-blue: #3465a4;
$tango-sky-blue-highlight: #729fcf;
$tango-sky-blue-shadow: #204a87;
$tango-plum: #75507b;
$tango-plum-highlight: #ad7fa8;
$tango-plum-shadow: #5c3566;
$tango-slate: #555753;
$tango-slate-highlight: #888a85;
$tango-slate-shadow: #2e3436;
$tango-scarlet-red: #cc0000;
$tango-scarlet-red-highlight: #ef2929;
$tango-scarlet-red-shadow: #a40000;
